doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Book-Swap
        
        
    body
        h1 Hi! Welcome to book-swap app
        block content

        script(src="https://unpkg.com/axios/dist/axios.min.js")
        