extends layout 
block content

        h2 User Detail
        h3 #{user.username}

        h4 Owned Books
            if user.ownedBooks.length 
                ul 
                    each book in user.ownedBooks
                        li #{user.username} has #{book.title}
            else   
                li User has no book    